WCFClient/WCFClient/Service References/CallbacksServiceReference/CallbacksService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CallbacksService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICallbacksService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9003/WCFService/Callbacks?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9003/WCFService/Callbacks?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICallbacksService_MonitorServer_InputMessage">
    <wsdl:part name="parameters" element="tns:MonitorServer" />
  </wsdl:message>
  <wsdl:message name="ICallbacksService_MonitorServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorServerResponse" />
  </wsdl:message>
  <wsdl:message name="ICallbacksService_UnMonitorServer_InputMessage">
    <wsdl:part name="parameters" element="tns:UnMonitorServer" />
  </wsdl:message>
  <wsdl:message name="ICallbacksService_UnMonitorServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnMonitorServerResponse" />
  </wsdl:message>
  <wsdl:message name="ICallbacksService_NotifyClientMsg_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClientMsg" />
  </wsdl:message>
  <wsdl:portType name="ICallbacksService">
    <wsdl:operation name="MonitorServer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallbacksService/MonitorServer" message="tns:ICallbacksService_MonitorServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallbacksService/MonitorServerResponse" message="tns:ICallbacksService_MonitorServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnMonitorServer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallbacksService/UnMonitorServer" message="tns:ICallbacksService_UnMonitorServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallbacksService/UnMonitorServerResponse" message="tns:ICallbacksService_UnMonitorServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyClientMsg">
      <wsdl:output wsaw:Action="http://tempuri.org/ICallbacksService/NotifyClientMsg" message="tns:ICallbacksService_NotifyClientMsg_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICallbacksService" type="tns:ICallbacksService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICallbacksService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="MonitorServer">
      <soap12:operation soapAction="http://tempuri.org/ICallbacksService/MonitorServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnMonitorServer">
      <soap12:operation soapAction="http://tempuri.org/ICallbacksService/UnMonitorServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyClientMsg">
      <soap12:operation soapAction="http://tempuri.org/ICallbacksService/NotifyClientMsg" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallbacksService">
    <wsdl:port name="NetTcpBinding_ICallbacksService" binding="tns:NetTcpBinding_ICallbacksService">
      <soap12:address location="net.tcp://localhost:9004/WCFService/Callbacks" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9004/WCFService/Callbacks</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>